include ../partials/header.pug
section.party
  h2 Événement: #{party.name}
  h3 Créé par #{party.author}
  form
    label(for="url") Partagez l'événement
    input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author}`)

  h2 Ajoutez une tâche à votre wati liste
  form(method="post" action=`/party/${id}/items`)
    div
      label(for="name") Nom de la tâche
      input(name="name" id="name" placeholder="Ex: Champagne")
    div
      label(for="user") Qui s'en charge ?
      input(name="user" id="user" placeholder="Ex: Haris")
    button(type="submit") Créer

  h2 Tâches en cours
  div.tasks
    each el in elements
      form(method="post" action=`/party/${id}/items/${el._id}`).tasks__task
        div.tasks__row
          p.tasks__title TÂCHE
          p= el.name
        div.tasks__row
          p.tasks__title QUI S'EN OCCUPE
          p= el.user
        button(type="submit") Supprimer